body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
}

.container {
  text-align: center;
}

.big-data-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 200px;
}

.box1,
.box2 {
  border-radius: 25px;
  background: rgba(108, 58, 183, 0.80);
  backdrop-filter: blur(5px);
  width: 454px;
  height: 733px;
  flex-shrink: 0;
  margin-top: 0px;
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.member-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box1 img,
.box2 img {
  width: 319px;
  height: 418px;
  flex-shrink: 0;
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
}

.member-info {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
